@use '../mixins/input' as inputs;
@use '../mixins/button' as buttons;
@use '../mixins/spacing' as spacing;

form.login-form {
  display: grid;

  > :not(:last-child) {
    margin-bottom: 0.5em;
  }

  input[type='email'],
  input[type='password'] {
    @include inputs.form-input;

    text-align: center;
    margin-bottom: 1.5em;
  }

  .reduced-bottom {
    margin-bottom: 0.5em !important;
  }

  button[type='submit'] {
    @include buttons.button-format(--primary-h, --primary-s, --primary-l);
  }

  button {
    @include buttons.button-format(--gray-h, --gray-s, --gray-800-l);
  }

  button.google {
    @include spacing.flex-center;
    @include buttons.button-format(--google-h, --google-s, --google-l);

    svg {
      margin-left: 0.5em;
      fill: hsl(var(--white));
    }
  }
}
