@use '../mixins/theme' as theme;
@use '../mixins/spacing' as spacing;
@use '../mixins/media.query' as mediaQuery;

nav.navbar {
  /*** Custom properties ***/

  --text-color: var(--gray-100);
  --background-color-hs: var(--primary-h) var(--primary-s);
  --background-color-l: var(--primary-l);

  --background-color: var(--background-color-hs) var(--background-color-l);

  @include theme.theme('dark') {
    --background-color-hs: var(--gray-h) var(--gray-s);
    --background-color-l: var(--gray-900-l);
  }

  --hover-background-color: hsl(
    var(--background-color-hs) calc(var(--background-color-l) - 9%)
  );

  /*** Rule definition ***/

  bottom: 0;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: hsl(var(--background-color));
  box-shadow: 0px 5px 5px 7px hsl(var(--background-color));

  & * {
    color: hsl(var(--text-color));
  }

  a {
    height: 100%;

    &:hover,
    &:focus,
    &:focus-visible {
      outline: none;
      background-color: var(--hover-background-color);
    }
  }

  div.navbar-logo-container,
  div.navbar-main-container {
    @include spacing.flex-center(y);
  }

  div.navbar-logo-container {
    a {
      @include spacing.flex-center;

      img.logo {
        width: 3em;
        padding: 0.3em;
      }
    }
  }

  div.navbar-main-container {
    margin-left: auto;

    ul {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      list-style-type: none;

      li.nav-item {
        height: 100%;

        a.nav-link {
          height: 100%;
          padding: 0.5em;
          user-select: none;
          @include spacing.flex-center(y);
        }

        &.active {
          background-color: hsl(
            var(--background-color-hs) calc(var(--background-color-l) - 5%)
          );

          a.nav-link {
            path {
              color: hsl(
                var(--primary-h) var(--primary-s) calc(var(--background-color-l) + 60%)
              );
            }
          }
        }
      }
    }
  }
}
