.product-gallery {
  gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  .product-gallery-empty {
    text-align: center;
    grid-column: 2 span;
  }

  & > :first-child {
    &:not(.product-gallery-empty) {
      grid-row: 2 span;
      grid-column: 2 span;
    }
  }
}
