$breakpoints: (
  phone: 0,
  tablet: 768,
  monitor: 1280,
  ultraWide: 2560,
) !default;

@mixin print {
  @media only print {
    @content;
  }
}

@mixin screen($min-width) {
  @media only screen and (min-width: #{$min-width}px) {
    @content;
  }
}
