:root {
  --font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

  // Colors
  --text-color: var(--black);
  --background-color: var(--white);
  --navbar-text-color: var(--gray-100);
  --navbar-background-color: var(--primary);
}
