@forward 'constants';
@forward 'themes';

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: hsl(var(--text-color));
  font-family: var(--font-family);

  // Animation when theme is changed
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

body {
  background-color: hsl(var(--background-color));
}

a {
  -webkit-tap-highlight-color: transparent;
}
